In [4]:
# !pip3 install streamlit
import streamlit as st
import numpy as np
import pandas as pd
from PIL import Image
import time

Collecting streamlit
  Using cached streamlit-0.82.0-py2.py3-none-any.whl (8.2 MB)
Collecting altair>=3.2.0
  Using cached altair-4.1.0-py3-none-any.whl (727 kB)
Collecting astor
  Using cached astor-0.8.1-py2.py3-none-any.whl (27 kB)
Collecting toml
  Downloading toml-0.10.2-py2.py3-none-any.whl (16 kB)
Collecting pydeck>=0.1.dev5
  Using cached pydeck-0.6.2-py2.py3-none-any.whl (4.2 MB)
Requirement already satisfied: python-dateutil in /opt/anaconda3/envs/streamlit/lib/python3.8/site-packages (from streamlit) (2.8.1)
Collecting click<8.0,>=7.0
  Using cached click-7.1.2-py2.py3-none-any.whl (82 kB)
Collecting gitpython
  Using cached GitPython-3.1.17-py3-none-any.whl (166 kB)
Collecting numpy
  Downloading numpy-1.20.3-cp38-cp38-macosx_10_9_x86_64.whl (16.0 MB)
     |████████████████████████████████| 16.0 MB 8.9 MB/s eta 0:00:01
Collecting pillow>=6.2.0
  Downloading Pillow-8.2.0-cp38-cp38-macosx_10_10_x86_64.whl (2.8 MB)
     |████████████████████████████████| 2.8 MB 33.0 MB/s eta 0:00:01
Collecting protobuf!=3.11,>=3.6.0
  Downloading protobuf-3.17.3-cp38-cp38-macosx_10_9_x86_64.whl (1.0 MB)
     |████████████████████████████████| 1.0 MB 26.6 MB/s eta 0:00:01
Requirement already satisfied: packaging in /opt/anaconda3/envs/streamlit/lib/python3.8/site-packages (from streamlit) (20.9)
Collecting pyarrow
  Using cached pyarrow-4.0.1-cp38-cp38-macosx_10_13_x86_64.whl (15.7 MB)
Collecting base58
  Using cached base58-2.1.0-py3-none-any.whl (5.6 kB)
Requirement already satisfied: requests in /opt/anaconda3/envs/streamlit/lib/python3.8/site-packages (from streamlit) (2.25.1)
Collecting tzlocal
  Using cached tzlocal-2.1-py2.py3-none-any.whl (16 kB)
Requirement already satisfied: tornado>=5.0 in /opt/anaconda3/envs/streamlit/lib/python3.8/site-packages (from streamlit) (6.1)
Collecting cachetools>=4.0
  Using cached cachetools-4.2.2-py3-none-any.whl (11 kB)
Collecting blinker
  Using cached blinker-1.4-py3-none-any.whl
Collecting validators
  Using cached validators-0.18.2-py3-none-any.whl (19 kB)
Collecting pandas>=0.21.0
  Downloading pandas-1.2.4-cp38-cp38-macosx_10_9_x86_64.whl (10.5 MB)
     |████████████████████████████████| 10.5 MB 22.5 MB/s eta 0:00:01
Requirement already satisfied: jsonschema in /opt/anaconda3/envs/streamlit/lib/python3.8/site-packages (from altair>=3.2.0->streamlit) (3.2.0)
Collecting toolz
  Downloading toolz-0.11.1-py3-none-any.whl (55 kB)
     |████████████████████████████████| 55 kB 14.6 MB/s eta 0:00:01
Requirement already satisfied: jinja2 in /opt/anaconda3/envs/streamlit/lib/python3.8/site-packages (from altair>=3.2.0->streamlit) (3.0.1)
Requirement already satisfied: entrypoints in /opt/anaconda3/envs/streamlit/lib/python3.8/site-packages (from altair>=3.2.0->streamlit) (0.3)
Requirement already satisfied: pytz>=2017.3 in /opt/anaconda3/envs/streamlit/lib/python3.8/site-packages (from pandas>=0.21.0->streamlit) (2021.1)
Requirement already satisfied: six>=1.9 in /opt/anaconda3/envs/streamlit/lib/python3.8/site-packages (from protobuf!=3.11,>=3.6.0->streamlit) (1.16.0)
Requirement already satisfied: traitlets>=4.3.2 in /opt/anaconda3/envs/streamlit/lib/python3.8/site-packages (from pydeck>=0.1.dev5->streamlit) (5.0.5)
Requirement already satisfied: ipykernel>=5.1.2 in /opt/anaconda3/envs/streamlit/lib/python3.8/site-packages (from pydeck>=0.1.dev5->streamlit) (5.5.5)
Collecting ipywidgets>=7.0.0
  Downloading ipywidgets-7.6.3-py2.py3-none-any.whl (121 kB)
     |████████████████████████████████| 121 kB 26.7 MB/s eta 0:00:01
Requirement already satisfied: ipython>=5.0.0 in /opt/anaconda3/envs/streamlit/lib/python3.8/site-packages (from ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (7.24.1)
Requirement already satisfied: appnope in /opt/anaconda3/envs/streamlit/lib/python3.8/site-packages (from ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (0.1.2)
Requirement already satisfied: jupyter-client in /opt/anaconda3/envs/streamlit/lib/python3.8/site-packages (from ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (6.1.12)
Requirement already satisfied: matplotlib-inline in /opt/anaconda3/envs/streamlit/lib/python3.8/site-packages (from ipython>=5.0.0->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (0.1.2)
Requirement already satisfied: jedi>=0.16 in /opt/anaconda3/envs/streamlit/lib/python3.8/site-packages (from ipython>=5.0.0->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (0.18.0)
Requirement already satisfied: pickleshare in /opt/anaconda3/envs/streamlit/lib/python3.8/site-packages (from ipython>=5.0.0->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /opt/anaconda3/envs/streamlit/lib/python3.8/site-packages (from ipython>=5.0.0->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (3.0.18)
Requirement already satisfied: pexpect>4.3 in /opt/anaconda3/envs/streamlit/lib/python3.8/site-packages (from ipython>=5.0.0->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (4.8.0)
Requirement already satisfied: pygments in /opt/anaconda3/envs/streamlit/lib/python3.8/site-packages (from ipython>=5.0.0->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (2.9.0)
Requirement already satisfied: decorator in /opt/anaconda3/envs/streamlit/lib/python3.8/site-packages (from ipython>=5.0.0->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (5.0.9)
Requirement already satisfied: setuptools>=18.5 in /opt/anaconda3/envs/streamlit/lib/python3.8/site-packages (from ipython>=5.0.0->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (52.0.0.post20210125)
Requirement already satisfied: backcall in /opt/anaconda3/envs/streamlit/lib/python3.8/site-packages (from ipython>=5.0.0->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (0.2.0)
Collecting widgetsnbextension~=3.5.0
  Using cached widgetsnbextension-3.5.1-py2.py3-none-any.whl (2.2 MB)
Collecting jupyterlab-widgets>=1.0.0
  Downloading jupyterlab_widgets-1.0.0-py3-none-any.whl (243 kB)
     |████████████████████████████████| 243 kB 27.4 MB/s eta 0:00:01
Requirement already satisfied: nbformat>=4.2.0 in /opt/anaconda3/envs/streamlit/lib/python3.8/site-packages (from ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (5.1.3)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/anaconda3/envs/streamlit/lib/python3.8/site-packages (from jedi>=0.16->ipython>=5.0.0->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (0.8.2)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/anaconda3/envs/streamlit/lib/python3.8/site-packages (from jinja2->altair>=3.2.0->streamlit) (2.0.1)
Requirement already satisfied: jupyter-core in /opt/anaconda3/envs/streamlit/lib/python3.8/site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (4.7.1)
Requirement already satisfied: ipython-genutils in /opt/anaconda3/envs/streamlit/lib/python3.8/site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (0.2.0)
Requirement already satisfied: attrs>=17.4.0 in /opt/anaconda3/envs/streamlit/lib/python3.8/site-packages (from jsonschema->altair>=3.2.0->streamlit) (21.2.0)
Requirement already satisfied: pyrsistent>=0.14.0 in /opt/anaconda3/envs/streamlit/lib/python3.8/site-packages (from jsonschema->altair>=3.2.0->streamlit) (0.17.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/anaconda3/envs/streamlit/lib/python3.8/site-packages (from pexpect>4.3->ipython>=5.0.0->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (0.7.0)
Requirement already satisfied: wcwidth in /opt/anaconda3/envs/streamlit/lib/python3.8/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=5.0.0->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (0.2.5)
Requirement already satisfied: notebook>=4.4.1 in /opt/anaconda3/envs/streamlit/lib/python3.8/site-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (6.4.0)
Requirement already satisfied: argon2-cffi in /opt/anaconda3/envs/streamlit/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (20.1.0)
Requirement already satisfied: nbconvert in /opt/anaconda3/envs/streamlit/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (6.0.7)
Requirement already satisfied: Send2Trash>=1.5.0 in /opt/anaconda3/envs/streamlit/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (1.5.0)
Requirement already satisfied: prometheus-client in /opt/anaconda3/envs/streamlit/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (0.11.0)
Requirement already satisfied: terminado>=0.8.3 in /opt/anaconda3/envs/streamlit/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (0.10.1)
Requirement already satisfied: pyzmq>=17 in /opt/anaconda3/envs/streamlit/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (22.1.0)
Requirement already satisfied: cffi>=1.0.0 in /opt/anaconda3/envs/streamlit/lib/python3.8/site-packages (from argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (1.14.5)
Requirement already satisfied: pycparser in /opt/anaconda3/envs/streamlit/lib/python3.8/site-packages (from cffi>=1.0.0->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (2.20)
Collecting gitdb<5,>=4.0.1
  Using cached gitdb-4.0.7-py3-none-any.whl (63 kB)
Collecting smmap<5,>=3.0.1
  Using cached smmap-4.0.0-py2.py3-none-any.whl (24 kB)
Requirement already satisfied: bleach in /opt/anaconda3/envs/streamlit/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (3.3.0)
Requirement already satisfied: jupyterlab-pygments in /opt/anaconda3/envs/streamlit/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (0.1.2)
Requirement already satisfied: defusedxml in /opt/anaconda3/envs/streamlit/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (0.7.1)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in /opt/anaconda3/envs/streamlit/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (0.5.3)
Requirement already satisfied: testpath in /opt/anaconda3/envs/streamlit/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (0.5.0)
Requirement already satisfied: mistune<2,>=0.8.1 in /opt/anaconda3/envs/streamlit/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (0.8.4)
Requirement already satisfied: pandocfilters>=1.4.1 in /opt/anaconda3/envs/streamlit/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (1.4.3)
Requirement already satisfied: async-generator in /opt/anaconda3/envs/streamlit/lib/python3.8/site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (1.10)
Requirement already satisfied: nest-asyncio in /opt/anaconda3/envs/streamlit/lib/python3.8/site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (1.5.1)
Requirement already satisfied: webencodings in /opt/anaconda3/envs/streamlit/lib/python3.8/site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (0.5.1)
Requirement already satisfied: pyparsing>=2.0.2 in /opt/anaconda3/envs/streamlit/lib/python3.8/site-packages (from packaging->streamlit) (2.4.7)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/envs/streamlit/lib/python3.8/site-packages (from requests->streamlit) (2021.5.30)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/anaconda3/envs/streamlit/lib/python3.8/site-packages (from requests->streamlit) (1.26.5)
Requirement already satisfied: idna<3,>=2.5 in /opt/anaconda3/envs/streamlit/lib/python3.8/site-packages (from requests->streamlit) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in /opt/anaconda3/envs/streamlit/lib/python3.8/site-packages (from requests->streamlit) (4.0.0)
Installing collected packages: widgetsnbextension, smmap, numpy, jupyterlab-widgets, toolz, pandas, ipywidgets, gitdb, validators, tzlocal, toml, pydeck, pyarrow, protobuf, pillow, gitpython, click, cachetools, blinker, base58, astor, altair, streamlit
Successfully installed altair-4.1.0 astor-0.8.1 base58-2.1.0 blinker-1.4 cachetools-4.2.2 click-7.1.2 gitdb-4.0.7 gitpython-3.1.17 ipywidgets-7.6.3 jupyterlab-widgets-1.0.0 numpy-1.20.3 pandas-1.2.4 pillow-8.2.0 protobuf-3.17.3 pyarrow-4.0.1 pydeck-0.6.2 smmap-4.0.0 streamlit-0.82.0 toml-0.10.2 toolz-0.11.1 tzlocal-2.1 validators-0.18.2 widgetsnbextension-3.5.1

In [5]:
df = pd.DataFrame(
    np.random.rand(100, 2)/[50, 50] +[35.69, 139.70],
    columns=['lat', 'lon']  ## 緯度と経度
)
df

          lat         lon
0   35.706373  139.719214
1   35.701610  139.708973
2   35.693685  139.709931
3   35.695696  139.700105
4   35.701447  139.706121
..        ...         ...
95  35.691248  139.703697
96  35.697960  139.712619
97  35.698043  139.706651
98  35.709475  139.715072
99  35.707879  139.708174

[100 rows x 2 columns]

In [11]:
# !pip3 install yfinance
!pip3 install matplotlib

Collecting matplotlib
  Downloading matplotlib-3.4.2-cp38-cp38-macosx_10_9_x86_64.whl (7.2 MB)
     |████████████████████████████████| 7.2 MB 751 kB/s eta 0:00:01
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.3.1-cp38-cp38-macosx_10_9_x86_64.whl (61 kB)
     |████████████████████████████████| 61 kB 369 kB/s eta 0:00:01
Collecting cycler>=0.10
  Using cached cycler-0.10.0-py2.py3-none-any.whl (6.5 kB)
Requirement already satisfied: pillow>=6.2.0 in /opt/anaconda3/envs/streamlit/lib/python3.8/site-packages (from matplotlib) (8.2.0)
Requirement already satisfied: python-dateutil>=2.7 in /opt/anaconda3/envs/streamlit/lib/python3.8/site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: numpy>=1.16 in /opt/anaconda3/envs/streamlit/lib/python3.8/site-packages (from matplotlib) (1.20.3)
Requirement already satisfied: pyparsing>=2.2.1 in /opt/anaconda3/envs/streamlit/lib/python3.8/site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: six in /opt/anaconda3/envs/streamlit/lib/python3.8/site-packages (from cycler>=0.10->matplotlib) (1.16.0)
Installing collected packages: kiwisolver, cycler, matplotlib
Successfully installed cycler-0.10.0 kiwisolver-1.3.1 matplotlib-3.4.2

In [13]:
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

%matplotlib inline

In [14]:
aapl = yf.Ticker('AAPL')

In [15]:
days = 120
hist = aapl.history(period=f'{days}d')
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-12-18,128.549238,128.688792,125.718280,126.256561,192541500,0.0,0
2020-12-21,124.621774,127.901295,123.056775,127.821548,121251600,0.0,0
2020-12-22,131.190786,133.981870,129.237023,131.459930,168904800,0.0,0
2020-12-23,131.739037,132.008166,130.363427,130.542862,88223700,0.0,0
2020-12-24,130.901713,133.034896,130.682413,131.549637,54930100,0.0,0
...,...,...,...,...,...,...,...
2021-06-07,126.169998,126.320000,124.830002,125.900002,71057600,0.0,0
2021-06-08,126.599998,128.460007,126.209999,126.739998,74403800,0.0,0
2021-06-09,127.209999,127.750000,126.519997,127.129997,56877900,0.0,0
2021-06-10,127.019997,128.190002,125.940002,126.110001,71086200,0.0,0
2021-06-11,126.529999,127.275002,126.099998,126.627098,20270232,0.0,0

In [16]:
hist.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock Splits'], dtype='object')

In [17]:
hist.reset_index()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2020-12-18,128.549238,128.688792,125.718280,126.256561,192541500,0.0,0
1,2020-12-21,124.621774,127.901295,123.056775,127.821548,121251600,0.0,0
2,2020-12-22,131.190786,133.981870,129.237023,131.459930,168904800,0.0,0
3,2020-12-23,131.739037,132.008166,130.363427,130.542862,88223700,0.0,0
4,2020-12-24,130.901713,133.034896,130.682413,131.549637,54930100,0.0,0
...,...,...,...,...,...,...,...,...
115,2021-06-07,126.169998,126.320000,124.830002,125.900002,71057600,0.0,0
116,2021-06-08,126.599998,128.460007,126.209999,126.739998,74403800,0.0,0
117,2021-06-09,127.209999,127.750000,126.519997,127.129997,56877900,0.0,0
118,2021-06-10,127.019997,128.190002,125.940002,126.110001,71086200,0.0,0
119,2021-06-11,126.529999,127.275002,126.099998,126.627098,20270232,0.0,0

In [18]:
hist_msft = yf.Ticker('MSFT').history(period=f'{days}d')
hist_msft.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-12-18,217.585281,218.680231,215.027102,217.585281,63354900,0.0,0
2020-12-21,216.550067,222.970417,216.281304,221.566895,37181900,0.0,0
2020-12-22,221.666436,224.592925,220.830300,222.910690,22612200,0.0,0
2020-12-23,222.084494,222.532423,219.785115,220.004105,18699600,0.0,0
2020-12-24,220.402277,222.582214,220.183287,221.726166,10550600,0.0,0

In [19]:
pd.concat([hist, hist_msft], axis=1).head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,,,,,,,,
2020-12-18,128.549238,128.688792,125.718280,126.256561,192541500,0.0,0,217.585281,218.680231,215.027102,217.585281,63354900,0.0,0
2020-12-21,124.621774,127.901295,123.056775,127.821548,121251600,0.0,0,216.550067,222.970417,216.281304,221.566895,37181900,0.0,0
2020-12-22,131.190786,133.981870,129.237023,131.459930,168904800,0.0,0,221.666436,224.592925,220.830300,222.910690,22612200,0.0,0
2020-12-23,131.739037,132.008166,130.363427,130.542862,88223700,0.0,0,222.084494,222.532423,219.785115,220.004105,18699600,0.0,0
2020-12-24,130.901713,133.034896,130.682413,131.549637,54930100,0.0,0,220.402277,222.582214,220.183287,221.726166,10550600,0.0,0

In [22]:
hist.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-12-18,128.549238,128.688792,125.718280,126.256561,192541500,0.0,0
2020-12-21,124.621774,127.901295,123.056775,127.821548,121251600,0.0,0
2020-12-22,131.190786,133.981870,129.237023,131.459930,168904800,0.0,0
2020-12-23,131.739037,132.008166,130.363427,130.542862,88223700,0.0,0
2020-12-24,130.901713,133.034896,130.682413,131.549637,54930100,0.0,0

In [21]:
hist.index

DatetimeIndex(['2020-12-18', '2020-12-21', '2020-12-22', '2020-12-23',
               '2020-12-24', '2020-12-28', '2020-12-29', '2020-12-30',
               '2020-12-31', '2021-01-04',
               ...
               '2021-05-28', '2021-06-01', '2021-06-02', '2021-06-03',
               '2021-06-04', '2021-06-07', '2021-06-08', '2021-06-09',
               '2021-06-10', '2021-06-11'],
              dtype='datetime64[ns]', name='Date', length=120, freq=None)

In [23]:
hist.index = hist.index.strftime('%d %B %y')

In [24]:
hist.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
18 December 20,128.549238,128.688792,125.718280,126.256561,192541500,0.0,0
21 December 20,124.621774,127.901295,123.056775,127.821548,121251600,0.0,0
22 December 20,131.190786,133.981870,129.237023,131.459930,168904800,0.0,0
23 December 20,131.739037,132.008166,130.363427,130.542862,88223700,0.0,0
24 December 20,130.901713,133.034896,130.682413,131.549637,54930100,0.0,0

In [27]:
hist = hist[['Close']]
hist.columns = ['apple']
hist.head()

                     apple
Date
18 December 20  126.256561
21 December 20  127.821548
22 December 20  131.459930
23 December 20  130.542862
24 December 20  131.549637

In [29]:
hist = hist.T
hist

Date,18 December 20,21 December 20,22 December 20,23 December 20,24 December 20,28 December 20,29 December 20,30 December 20,31 December 20,04 January 21,...,28 May 21,01 June 21,02 June 21,03 June 21,04 June 21,07 June 21,08 June 21,09 June 21,10 June 21,11 June 21
apple,126.256561,127.821548,131.45993,130.542862,131.549637,136.254608,134.440399,133.294067,132.267349,128.997803,...,124.610001,124.279999,125.059998,123.540001,125.889999,125.900002,126.739998,127.129997,126.110001,126.627098

In [30]:
hist.index.name = 'Name'
hist

Date,18 December 20,21 December 20,22 December 20,23 December 20,24 December 20,28 December 20,29 December 20,30 December 20,31 December 20,04 January 21,...,28 May 21,01 June 21,02 June 21,03 June 21,04 June 21,07 June 21,08 June 21,09 June 21,10 June 21,11 June 21
Name,,,,,,,,,,,,,,,,,,,,,
apple,126.256561,127.821548,131.45993,130.542862,131.549637,136.254608,134.440399,133.294067,132.267349,128.997803,...,124.610001,124.279999,125.059998,123.540001,125.889999,125.900002,126.739998,127.129997,126.110001,126.627098