In [1]:
import streamlit as st
import numpy as np
import pandas as pd
from PIL import Image
import time

In [2]:
df = pd.DataFrame(
    np.random.rand(100, 2)/[50, 50] +[35.69, 139.70],
    columns=['lat', 'lon']  ## 緯度と経度
)
df

          lat         lon
0   35.701671  139.715851
1   35.703641  139.701192
2   35.692852  139.717282
3   35.707069  139.712555
4   35.691835  139.717125
..        ...         ...
95  35.703756  139.702707
96  35.692332  139.702994
97  35.695512  139.716747
98  35.699037  139.700010
99  35.707368  139.708428

[100 rows x 2 columns]